.resize-vertical {
	resize: vertical;
}
.leftCol {
    position: absolute;
    left: 10px;
    top: 55px;
    bottom: 0;
    right: 70%;
    overflow: hidden;
}
.rightCol {
    position: absolute;
    left: 31%;
    top: 55px;
	margin-bottom: 70px;
    bottom: -70px;
    right: 0;
    overflow-y: auto;    
}