<div class="leftCol" id="less">
    <div class="col-xs-12 row form-inline">        
        <button ng-click="pasteVariables()" class="btn btn-info">Variables</button>        
        &nbsp;&nbsp;<div class="checkbox">
            <label for="auto-transform" class="checkbox">
                <input ng-model="ctrl.auto" type="checkbox" id="auto-transform"> Auto transform
            </label>
        </div>&nbsp;&nbsp;
        <button ng-click="transform()" class="btn btn-primary">Transform</button>
    </div>
    <textarea class="resize-vertical col-xs-12" ng-change="autoTransform()" ng-model="data.less_variables" style="height: 30%; margin-top: 10px" placeholder="variables"></textarea>
    <textarea class="resize-vertical col-xs-12" ng-change="autoTransform()" ng-model="data.less_theme" style="height: 30%; margin-top: 10px" placeholder="theme"></textarea>
    <textarea class="resize-vertical col-xs-12" ng-model="data.css" rows="10" style="margin-top: 10px" placeholder="here will be css"></textarea>
</div>
<div id="html" class="rightCol">
    <div ng-include="'views/tbs.html'">

    </div>
</div>